
 .m1{
   
    float:left;
    padding-left:50px ;
    font-family:Overpass;
   
    
 }
 .n1{
     width: 1290px;
    
     float:left;
 }
 .x{
   
    float:left;
    padding-left:20px ;
    font-family:Overpass;
    padding-bottom: 50px;
 }
 .j1{
    padding-top: 50px;
 }
 